# Ignore everything
*
#Except these:
!.gitignore
!.config/
!.config/*
!.config/alacritty/
!.config/alacritty/*
!.config/ghostty/
!.config/ghostty/*
!.config/starship/
!.config/starship/*
!.zprofile
!.zshrc
!.tmux.conf
